@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(203, 31%, 80%);
}
main{
    display: grid;
    grid-template-areas: 
        "main main"
        "buy why-us"
    
    ;
    width: 40%;
    height: 60%;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
}

.main-division{
    grid-area: main;
    background-color: #fff;
    height: 100%;
    width:100%;
    padding: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1{
    font-size: 1.5em;
    color: hsl(179, 62%, 43%);
    padding-bottom: 1em;
    font-weight: 700;
}
.main-division h2{
    font-size: 1.2em;
    color: hsl(71, 73%, 54%);
    padding-bottom: .5em;
    font-weight: 700;
}
.main-division p{
    color: hsl(218, 22%, 67%);
    line-height: 1.5em;
}
.buy-division{
    background-color: hsl(179, 62%, 43%);
    height: 100%;
    width: 100%;
    padding: 2em;
    padding-right: 1em;
    grid-area: buy;
    color: #fff;
    border-bottom-left-radius: 10px;
}
.buy-division h2{
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: .5em;
}
.oferta span{
    font-size: 2em;
    color: #fff;
    font-weight: 700;
}
button{
   margin-top: 2em;
    width: 82%;
    height: 22%;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: hsl(71, 73%, 54%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1em;
    box-shadow: 0px 0px 5px .3px #00000025;
    transition: .4s ease-in-out;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.229);
}
button:hover{
    color: hsl(71, 73%, 54%);
    background-color: #fff;
    transform: scale(1.05);
}
.oferta{
    color: #ffffff78;
    padding-bottom: 1em;
}
.why-us-division{
    background-color: hsla(179, 62%, 43%, 0.794);
    height: 100%;
    width: 100%;
    padding: 2em;
    border-bottom-right-radius: 10px;
}
.why-us-division h2{
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 1em;
}
.why-us-division p{
    font-size: .9em;
    line-height: 1.5em;
    color: #ffffff9a;
}

@media screen and (max-width:1350px) {
    main{
        width: 50%;
    }
}
@media screen and (max-width:1096px) {
    main{
        width: 60%;
    }
}
@media screen and (max-width:910px) {
    main{
        width: 70%;
    }
}
@media screen and (max-width:792px) {
    main{
        width: 80%;
    }
}
@media screen and (max-width:690px) {
    main{
        width: 90%;
    }
}
@media screen and (max-width:610px) {
    body{
        height: auto;
        padding: 1em;
        overflow-x: hidden;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50%;
    }
    .buy-division{
        border-radius: 0px;

    }
    .why-us-division{
        border-bottom-left-radius: 10px;
    }
    button{
       padding: .5em;
    }
}